body {
    background: #ddd;
    margin: 1rem;
    padding: 1rem;
    max-width: 500px;
    margin: 2rem auto;
    font-family: "Open Sans", sans-serif;
  }
  
  img {
    width: 200px;
    border-radius:100px;
    float:left;
    margin-right: 10px
  } 

  .Feeling_Categories{
    font-size: 13px;
    padding:10px;
    border: 1px solid;
    border-radius: 6px;
    position: relative
  }
 